<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/scss/main.scss">
    <title>Document</title>
</head>
<body>
 <div class="wrapper">
    <section class="modal">
        <div class="modal-item">
            <div class="modal-name">
                Московский государственный технический университет имени Н.Э.Бáумана
            </div>
            <div class="modal-contacts">
                <ul>
                    <li>Москва, ул. Новочеремушкинская, д. 69</li>
                    <li>Приемная комиссия: 7 (499) 181 21 33</li>
                </ul>
            </div>
        </div>
        <div class="modal-item">
            <div class="modal-links">
                <div class="banner-links_column-items fovorite">
                    <img src="./images/heart.svg" alt="">
                    <span>В Избранное</span>
               </div>
            </div>
        </div>
    </section>
    <section class="mobile-menu">
        <div class="mobile-menu_conteiner">
            <div class="mobile-menu_content"></div>
            <span class="close">&#10006;</span>
        </div>
   
    </section>
   <header class="header">
    <div class="conteiner">
        <div class="header-body">
            <div class="header-top">
                <div class="header-burger">
                    <span></span>
                </div>
                <div class="header-column" id="colomnCity">
                    <div class="header-logo">
                        <a href="#">
                            <img src="./images/logoHeader.svg" alt="">
                        </a>
                    </div>
                    <div class="header-city">
                        <div class="header-city_choose">
                            <span class="header-city_arrow icon border">
                                <img src="./images/arrow.svg" alt="">
                            </span>
                            <div class="header-city_name">
                                <span ></span>
                            </div>
                        </div>
                        <div class="city-box">
                            <div class="city-box_conteiner loading">
                                <div class="city-main">
                                    <div class="city-search">
                                        <input id="inputHeader" type="text" placeholder="Регион">
                                    </div>
                                    <div class="city-selected">
                                        
                                    </div>
                                    <div class="allCity">
                                    </div>
                                </div>
                                <div class="city-footer">
                                        <button class="btn btnCity"></button>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="header-column _input">
                    <div class="header-input">
                        <input type="text" placeholder="Учебное заведение, специальность или профессия">
                    </div>
                </div>
                <div class="header-column"  id="colomnProfile">
                    <div class="header-likes">
                        <img src="./images/heart.svg" alt="">
                        <span class="header-likes_count">1</span>
                    </div>
                    <div class="header-profile">
                        <div class="header-profile_avatar">
                            <picture>
                                <source srcset="./images/header/avatarMobile.png" media="(max-width: 1000px)" >
                                 <img src="./images/avatar.svg" alt="">
                            </picture>
                        </div>
                        <div class="header-profile_name">
                            Екатерина
                        </div>
                    </div>
                </div>
            </div>
            
              <div class="header-navbar">
                <div class="header-navbar-conteiner swiper">
                    <ul class="header-navbar_list  swiper-wrapper">
                        <li class="header-navbar_slide swiper-slide"><a href="#">Вузы</a></li>
                        <li class="header-navbar_slide  swiper-slide"><a href="#">Колледжи</a></li>
                        <li class="header-navbar_slide  swiper-slide"><a href="#">Техникумы</a></li>
                        <li class="header-navbar_slide  swiper-slide"><a href="#">Училища</a></li>
                        <li class="header-navbar_slide  swiper-slide"><a href="#">Специальности</a></li>
                        <li class="header-navbar_slide  swiper-slide"><a href="#">Профессии</a></li>
                        <li class="header-navbar_slide  swiper-slide"><a href="#">Отзывы</a></li>
                        <li class="header-navbar_slide  swiper-slide"><a href="#">Учебным заведениям</a> </li>
                        <li class="header-navbar_slide swiper-slide"><a href="#">Тест на профориентацию</a></li>
                        <li class="header-navbar_slide swiper-slide"><a href="#">Тест на профориентацию</a></li>
                    </ul>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
          
        </div>
    </div>
   </header>
   <main class="main">
    <section class="banner">
        <div class="conteiner">
            <div class="banner-body">
                <div class="banner-header">
                    <ul>
                        <a href="">
                            <li>
                                Москва
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Высшее образование
                            </li>
                        </a>
                        <a href="">
                            <li>
                                Вузы
                            </li>
                        </a>
                        <a href="">
                            <li>
                                МГТУ им. Н.Э. Баумана
                            </li>
                        </a>  
                    </ul>
                </div>
                <div class="banner-img">
                    <img class="banner-imgFon" src="./images/UniversPhoto.jpeg" alt="">
                    <div class="banner-logo">
                        <img src="./images/logoUnivers.png" alt="">
                    </div>
                    <div class="banner-img_link">
                        <button class="btn notMobile">оставить отзыв</button>
                        <button class="btn" id="chains">проверить шансы поступить</button>
                    </div>
                </div>
                <div class="banner-content">
                    <div class="banner-info">
                        <div class="banner-info_title boldTxt">
                            <h2>Московский государственный технический 
                                университет имени Н.Э. Бáумана</h2>
                        </div>
                        <ul class="banner-info_list mediumTxtOS">
                            <li class="reviews"> <b>2.4</b>(75 отзывов)</li>
                            <li>Москва, ул. Новочеремушкинская, д. 69</li>
                            <li>Приемная комиссия: 7 (499) 181 21 33</li>
                        </ul>
                    </div>
                    <div class="banner-links">
                        <div class="banner-links_row ">
                            <div class="banner-links_row-items fovorite icon border" id="fovorite">
                                 <img src="./images/heart.svg" alt="">
                                 <span class="notMobile">В Избранное</span>
                            </div>
                            <div class="banner-links_row-items" id="bell">
                                <img src="./images/bell.svg" alt="">
                            </div>
                            <div class="banner-links_row-items notMobile">
                                <img src="./images/downold.svg" alt="">
                            </div>
                            </div>
                    </div>
                </div>
                <div class="banner-footer"></div>
            </div>
        </div>
    </section>
    <section class="mainContent">
        <div class="mainContent-conteiner conteiner ">
            <aside class="aside">
                <ul class="aside-list">
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Основная информация</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Специальности</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Об университете</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Контакты</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Отзывы</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                        <div class="aside-list_title">
                            <a href="#">Преподаватели</a></div>
                        <div class="aside-list_amount">100</div>
                    </div></li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Профессии</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Новости</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Задать вопрос</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                    <li>
                        <div class="aside-list_content">
                            <div class="aside-list_title">
                                <a href="#">Часто задаваемые вопросы</a></div>
                            <div class="aside-list_amount">100</div>
                        </div>
                    </li>
                </ul>
            </aside>
            <section class="mainContent-body">
                <div class="mainInformation">
                    <h2 class="mainInformation-title boldTxt">Основная информация</h2>
                    <div class="mainInformation-body">
                            <div class="mainInformation-unuversStat">
                                <div class="mainInformation-card _card">
                                    <div class="mainInformation-item _item">
                                        <span class="card-number boldTxt _blue">4 532</span>
                                        <span class="card-subtitle">платных мест</span>
                                    </div>
                                    <div class="mainInformation-item  _item">
                                        <span class="card-number boldTxt _blue">1 702</span>
                                        <span class="card-subtitle">бюджетных мест</span>
                                    </div>
                                </div>
                                <div class="mainInformation-card _card">
                                    <div class="mainInformation-item  _item">
                                        <span class="card-number boldTxt">1 место</span>
                                        <span class="card-subtitle">в Санкт-Петербурге</span>
                                    </div>
                                    <div class="mainInformation-item  _item">
                                        <span class="card-number boldTxt">12 место</span>
                                        <span class="card-subtitle">в РФ</span>
                                    </div>
                                </div>
                                <div class="mainInformation-card column bigcard">
                                    <div class="mainInformation-line">
                                        <span class="line-text mediumTxtOS">Государственный</span>
                                        <span class="icon green">
                                            <img src="./images/check_24px.svg" alt="">
                                        </span>
                                    </div>
                                    <div class="mainInformation-line">
                                        <span class="line-text mediumTxtOS">Общежитие</span>
                                        <span class="icon red">
                                            <img src="./images/close_24px.svg" alt="">
                                        </span>
                                    </div>
                                    <div class="mainInformation-line">
                                        <span class="line-text mediumTxtOS">Военная кафедра</span>
                                        <span class="icon green">
                                            <img src="./images/check_24px.svg" alt="">
                                        </span>
                                    </div>
                                </div>
                                <div class="mainInformation-card _card smallcard">
                                    <div class="mainInformation-item  _item">
                                        <span class="card-subtitle">Вы представитель УЗ?</span>
                                        <button class="btn noneColor">получить доступ</button>
                                    </div>
                                </div>
                            </div>
                      
                            <div class="mainInformation-grafic _card _grafic">
                                <canvas id="myCanvas"></canvas>
                            </div>
                    </div>

                </div>
                <div class="specialization">
                    <div class="specialization-header">
                        <h2 class="specialization-title boldTxt">Специальности</h2>
                        <span class="specialization-subtile smallTxtOS">432 специальности</span>
                    </div>
                    <div class="specialization-filter">
                        <ul>
                            <span>Сортировать:</span>
                            <li>
                                <button id="payment">по оплате в год</button>
                            </li>
                            <li>
                                <button id="2" >по отзывам</button>
                            </li>
                            <li>
                                <button id="points" >по прозодному баллу</button>
                            </li>
                            <li>
                                <button id="places" >по количеству бюджетных мест</button>
                            </li>
                        </ul>
                    </div>
                    <div class="specialization-body">
                        <div class="specialization-row">
                            <div class="specialization-card">
                                <div class="specialization-item itemImg">
                                    <picture>
                                        <source srcset="./images/specialization/library.jpg" media="(max-width: 768px)" > 
                                        <img src="./images/cardPhoto.jpg" alt="">
                                    </picture>
                                  
                                </div>
                                <div class="specialization-item _line borderRight">
                                    <div class="specialization-code">
                                        бакалавриат · 01.03.00 
                                    </div>
                                    <div class="specialization-name">
                                        Прикладная математика и информатика
                                    </div>
                                    <div class="specialization-format">
                                        <span>Очно</span>
                                        <span>Заочно</span>
                                        <span>Очно-заочно</span>
                                        <span>Дистанционно</span>
                                    </div>
                                    <div class="specialization-description">
                                        Программное обеспечение вычислительных систем  ·  Математическое и программное обеспечение защиты информации  ·  Экономика  ·   Организация педагогическо...
                                    </div>
                                    <div class="specialization-all">
                                        <a href="#">Все 43 профиля</a>
                                    </div>
                                </div>
                                <div class="specialization-item rowMobile">
                                    <div class="specialization-icons">
                                        <div class="icon grey">
                                                <img src="./images/flag.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/bank.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/Zzz.svg" alt="">
                                        </div>
                                    </div>
                                    
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text  smallTxtOS">Бюджетных мест</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular places">260</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text  smallTxtOS">Проходной балл</span>
                                        <span class="line-text specialization-line_text points mediumTxtFormular">152</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text  smallTxtOS">Оплата в год</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular payment">от 90 000 &#8381</span>
                                    </div>
                                </div>
                            </div>
                            <div class="specialization-card">
                                <div class="specialization-item itemImg">
                                    <picture>
                                        <source srcset="./images/specialization/Math.jpg" media="(max-width: 768px)" > 
                                        <img src="./images/cardPhoto.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="specialization-item _item _line borderRight">
                                    <div class="specialization-code">
                                        бакалавриат · 01.03.00 
                                    </div>
                                    <div class="specialization-name">
                                        Прикладная математика и информатика
                                    </div>
                                    <div class="specialization-format">
                                        <span>Очно</span>
                                        <span>Заочно</span>
                                        <span>Очно-заочно</span>
                                        <span>Дистанционно</span>
                                    </div>
                                    <div class="specialization-description">
                                        Программное обеспечение вычислительных систем  ·  Математическое и программное обеспечение защиты информации  ·  Экономика  ·   Организация педагогическо...
                                    </div>
                                    <div class="specialization-all">
                                        <a href="#">Все 43 профиля</a>
                                    </div>
                                </div>
                                <div class="specialization-item rowMobile">
                                    <div class="specialization-icons">
                                        <div class="icon grey">
                                                <img src="./images/flag.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/bank.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/Zzz.svg" alt="">
                                        </div>
                                    </div>
                                    
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Бюджетных мест</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular places">100</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Проходной балл</span>
                                        <span class="line-text specialization-line_text points mediumTxtFormular">186</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Оплата в год</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular payment">от 120 000 &#8381</span>
                                    </div>
                                </div>
                            </div>
                            <div class="specialization-card">
                                <div class="specialization-item itemImg">
                                    <picture>
                                        <source srcset="./images/specialization/Tech.jpg" media="(max-width: 768px)" > 
                                        <img src="./images/cardPhoto.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="specialization-item _item _line borderRight">
                                    <div class="specialization-code">
                                        бакалавриат · 01.03.00 
                                    </div>
                                    <div class="specialization-name">
                                        Прикладная математика и информатика
                                    </div>
                                    <div class="specialization-format">
                                        <span>Очно</span>
                                        <span>Заочно</span>
                                        <span>Очно-заочно</span>
                                        <span>Дистанционно</span>
                                    </div>
                                    <div class="specialization-description">
                                        Программное обеспечение вычислительных систем  ·  Математическое и программное обеспечение защиты информации  ·  Экономика  ·   Организация педагогическо...
                                    </div>
                                    <div class="specialization-all">
                                        <a href="#">Все 43 профиля</a>
                                    </div>
                                </div>
                                <div class="specialization-item rowMobile">
                                    <div class="specialization-icons">
                                        <div class="icon grey">
                                                <img src="./images/flag.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/bank.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/Zzz.svg" alt="">
                                        </div>
                                    </div>
                                    
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Бюджетных мест</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular places">300</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Проходной балл</span>
                                        <span class="line-text specialization-line_text points mediumTxtFormular">149</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Оплата в год</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular payment">от 78 000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="specialization-card _card">
                                <div class="specialization-item itemImg">
                                    <picture>
                                        <source srcset="./images/specialization/Geo.jpg" media="(max-width: 768px)" > 
                                        <img src="./images/cardPhoto.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="specialization-item borderRight">
                                    <div class="specialization-code">
                                        бакалавриат · 01.03.00 
                                    </div>
                                    <div class="specialization-name">
                                        Прикладная математика и информатика
                                    </div>
                                    <div class="specialization-format">
                                        <span>Очно</span>
                                        <span>Заочно</span>
                                        <span>Очно-заочно</span>
                                        <span>Дистанционно</span>
                                    </div>
                                    <div class="specialization-description">
                                        Программное обеспечение вычислительных систем  ·  Математическое и программное обеспечение защиты информации  ·  Экономика  ·   Организация педагогическо...
                                    </div>
                                    <div class="specialization-all">
                                        <a href="#">Все 43 профиля</a>
                                    </div>
                                </div>
                                <div class="specialization-item rowMobile">
                                    <div class="specialization-icons">
                                        <div class="icon grey">
                                                <img src="./images/flag.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/bank.svg" alt="">
                                        </div>
                                        <div class="icon grey">
                                                <img src="./images/Zzz.svg" alt="">
                                        </div>
                                    </div>
                                    
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Бюджетных мест</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular places">100</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Проходной балл</span>
                                        <span class="line-text specialization-line_text points mediumTxtFormular">100</span>
                                    </div>
                                    <div class="specialization-line">
                                        <span class="line-text specialization-line_text smallTxtOS">Оплата в год</span>
                                        <span class="line-text specialization-line_text mediumTxtFormular payment">от 30 000 &#8381</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="specialization-link">
                            <button class="btn whiteBlue">Показать все специальности</button>
                        </div>
                    </div>


                    <div class="mobile-block swiper">
                        <div class="mobile-block_swiper-wrapper swiper-wrapper">
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="univers">
                    <h2 class="univers-title boldTxt">Об университете</h2>
                    <div class="univers-body">
                        <div class="univers-gallery">
                            <div class="gallery-item big_item">
                                <img src="./images/Univers/fotoUniverBG.jpg" alt="">
                            </div>
                            <div class="gallery-item">
                                <img src="./images/Univers/fotoUnivers.png" alt="">
                            </div>
                            <div class="gallery-item">
                                <img src="./images/Univers/fotoUnivers2.jpg" alt="">
                            </div>
                            <div class="gallery-item">
                                <img src="./images/Univers/fotoUnivers3.jpg" alt="">
                            </div>
                            <div class="gallery-item">
                                <img src="./images/Univers/fotoUnivers4.jpg" alt="">
                            </div>
                        </div>
                        <div class="univers-text mediumTxtOS">
                            <span>
                                <p>Московский университет ― это один из самых старейших университетов России, был основан в 1755 году. Университет известен во мире и занимает лидирующие места в рейтингах вузов самых различных направлений.</p>
                                <p> В 2008 году он получил награду «Европейское качество» «за стремление достичь высокого качества образовательных услуг в соответствии с международными стандартами». МГТУ им. Н. Э. Баумана в течение более чем 14 лет является головным вузом Ассоциации технических университетов, в состав которой входят более 130 российских университетов.</p>
                            </span>
                            <div class="univers-text _hideBlock mediumTxtOS">
                                <span>
                                    <h3 class="boldTxt">Преимущества обучения в НИУ МЭИ (Москва)</h3>
                                    <p>Сотрудничество с крупнейшими работодателями. В числе первостепенных задач Национального исследовательского института — помощь выпускникам в трудоустройстве. Среди партнёров-работодателей — Россети, Газпром энергохолдинг, Норильский никель.
                                    </p>
                                    <p>Всё для комфорта учащихся. Каждый иногородний и иностранный студент вуза МЭИ обеспечивается местом в общежитии. К услугам учащихся — собственный санаторий, оздоровительно-спортивный студенческий лагерь, радио и Дом культуры.
                                    </p>
                                </span>
                            </div>
                            <span class="univers-seeMore">Развернуть</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        

    </section>
   </main>
   <footer class="footer">

   </footer>
 </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
   <script src="./index.js"></script>
</body>
</html>