.lead {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 680px;

}

.lead__title {
  text-align: center;
  font-size: 66px;
  max-width: 900px;
}