.mainContent {
    position: relative;
}
.mainContent-container{
display: flex;
}
.main__container{
    display: flex;
    position: relative;
}
.mainContent-body {
    width: 100%;
}
.mainInformation{
    margin-bottom: 50px;
}
.mainInformation-title {
    margin-bottom: 16px;
}

.mainInformation-unuversStat{
    display: flex;
    flex-wrap: wrap;
}
.mainInformation-card {
    // width: 500px;
    padding: 25px;
    margin: 0 15px 15px 0;
    flex: 1 1 calc(50% - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    border-radius: 10px;
    &.column{
        flex-direction: column;
        align-items: stretch;
    }
    &:nth-child(even){
        margin-right: 0;
    }
    @media(max-width: 768px){
        margin-right: 0;
        flex: 1 1 100%;
    }

}
.bigcard{
    flex: 1 1 calc(60% - 15px);
    @media(max-width: 768px){
        flex: 1 1 100%;
    }
}
.smallcard{
    flex: 1 1 auto;
}
.mainInformation-item {
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:last-child{
        margin-right: 0;
    }
    @media(max-width: 1000px){
        margin-right: 50px;
    }
    @media(max-width: 768px){
        margin-right: 20%;
    }
}
.mainInformation-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #D8D8D8;
        bottom: -10px;
    }
    &:last-child{
        &::after{
            content: "";
            display: none;
        }
    }
}

.card-subtitle {
    font-size: 14px;
    line-height: 157%;
}

#myCanvas{
    min-width: 100%;
    height: 350px;
}

._grafic{
    overflow-x: scroll;
    width: 100%;
    height: auto;
    background-color: #ffff;
    padding: 20px;
}