.specialization__card {
  display: flex;
  padding: 16px;
  background-color: #ffff;
  margin-bottom: 30px;
  border-radius: 10px;
  gap: 15px;
  &:last-child {
    margin-bottom: 0px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.specialization__card-section {
  max-width: 420px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  &:nth-child(2)::after {
    content: '';
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #d8d8d8;
    right: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &:last-child {
    @media (max-width: 768px) {
      flex-direction: row;
    }
  }
  @media (max-width: 768px){
    max-width: 100%;
  }
}
.specialization__card-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #d8d8d8;
    bottom: -10px;
  }
  &:last-child::after {
    display: none;
  }
  @media (max-width: 768px){
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    &::after{
      display: none;
    }
  }
}
.specialization__card-photo {
  max-width: 207px;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.specialization-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    &::after {
      display: none;
    }
  }
}

.specialization-code {
  font-weight: 600;
  font-size: 10px;
  line-height: 200%;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.specialization-name {
  font-family: 'Formular';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  color: #222222;
  @media (max-width: 768px) {
    margin-bottom: 21px;
  }
}
.specialization-format {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 157%;
  color: #222222;
  span {
    padding: 7px;
    margin: 0px 10px 10px 0;
    border: 1px solid #d8d8d8;
    border-radius: 47px;
    &:last-child {
      margin: 0px 0px 10px 0px;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 21px;
  }
}
.specialization-description {
  max-width: 400px;
  font-size: 13px;
  line-height: 192%;
  @media (max-width: 768px) {
    display: none;
  }
}
.specialization-all {
  font-weight: 600;
  font-size: 13px;
  line-height: 192%;
  color: #222222;
  @media (max-width: 768px) {
    display: none;
  }
}

.specialization-line_text {
  line-height: 167%;
}

.specialization__icons {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    display: none;
  }
  > div {
    margin-right: 10px;
  }
}

.specialization-link {
  margin-top: 20px;
  @media (max-width: 768px) {
    display: flex;
    margin-top: 0;
  }
}

// =================
// .mobile-block{
// display: none;
// @media(max-width: 992px){
//     display: block;
// }
// }

.swiper-pagination {
  position: static !important;
  margin: 16px 0;
}
