.header {
  background-color: #ffff;
  padding: 25px 0 18px;
}

// --------------------------------------------------

.header-navbar {
  padding: 0 50px;
  position: relative;
  @media (max-width: 1000px) {
    display: none;
  }
}

.header-navbar-conteiner {
  width: 100%;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: 50;
    height: 100%;
    width: 20px;
    background: #ffff;
    right: -5px;
    filter: blur(5px);
  }
}

.header-navbar_list {
  display: flex;
  &.relative {
    position: relative;
    z-index: 100;
  }
  li {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #222222;
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: 1000px) {
    padding: 0 0px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition-duration: 0ms;
    font-size: 16px;
    li {
      margin-bottom: 10px;
    }
  }
}
.header-navbar_slide {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #222222;

  width: auto !important;
  display: flex;
  justify-content: center;
  flex: 1 0 auto !important;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next,
.swiper-button-prev {
  &::after {
    color: #222222;
    font-size: 18px !important;
  }
}

// --------------------------------------------
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
}
.header__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item_type_input {
  flex: 1 1 60%;
  @media (max-width: 1000px) {
    display: none;
  }
}
.header__logo {
  margin-right: 20px;
}
.header__selected-city {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__city-box {
  display: flex;
  align-items: center;
  @media (max-width: 1000px) {
    display: none;
  }
}
.header__city-arrow {
  margin-right: 10px;
}

.header__city-name {
  font-size: 14px;
  line-height: 22px;
}
.header__input {
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  background: #f1f1f1;
  border-radius: 100px;
  padding: 0 20px;

  input {
    margin-right: 15px;
    padding: 15px 0;
    width: 100%;
    background: #f1f1f1;
    border-radius: 100px;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    color: #767676;
  }
}
.header__btn.btn {
  display: none;
  width: 20px;
  height: 20px;
  &.header__btn_visable {
    display: flex;
  }
}


.header__item_type_profile {
}
.header__profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #767676;
  margin-right: 15px;
  @media (max-width: 1000px) {
    margin-right: 0;
  }
}
.header__profile-name {
  @media (max-width: 1000px) {
    display: none;
  }
}
.header__burger {
  position: relative;
  display: none;
  height: 20px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  span {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 9px;
    left: 0;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
  }
  @media (max-width: 1000px) {
    display: block;
  }
}
.header__burger_active {
  &:before {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
    top: 9px;
  }
  &:after {
    transform: rotate(-45deg);
    transition: all 0.2s ease-in-out;
    bottom: 9px;
  }
  span {
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }
}
// ========================================================================

.header-logo {
  margin-right: 20px;
  margin-bottom: 4px;
}
.header-city {
  position: relative;
}
.header-city_choose {
  display: flex;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
  }
}
.header-city_arrow {
  margin-right: 10px;
  @media (max-width: 1000px) {
    flex: 0 0 auto;
  }
}

.header-likes {
  margin-right: 40px;
  display: flex;
  align-items: center;
  @media (max-width: 1000px) {
    margin-right: 20px;
  }
}
.header-likes_count {
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
}
.header-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1000px) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.header-profile_avatar {
  margin-right: 7px;
  @media (max-width: 1000px) {
  }
}
.header-name {
}
// ----------------------------

@media (max-width: 1000px) {
  .header-burger {
    display: block;
  }
}
