.ModalInput {
    position: absolute;
    background: #ffffff;
    border-radius: 5px;
    z-index: 50;
    top: 60px;
    width: 100%;
    height: 300px;
    border-radius: 50px;
    visibility: hidden;
    opacity: 0;
  }
  .ModalInput_type_isVisable {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: all 0.3s ease;
  }

  .ModalInput__university-list {
    display: flex;
    flex-direction: column;
    color: #222;
    font-size: 14px;
    line-height: 22px;
    padding: 14px 14px 0px;
    overflow-y: scroll;
    height: 250px;

    &::-webkit-scrollbar {
      width: 7px;
      background-color: #ffff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(241, 241, 241, 0.5);
    }
  }
  .btn {
  }
  .modal__btn {
    display: block;
    width: 100%;
  }
  