/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/Footer/Footer.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer__container {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/vendor/normalize.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/app/vendor/global.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
body {
  background: #f1f1f1;
  color: #767676;
  font-family: "OpenSans";
  font-size: 20px;
}
body.block {
  overflow: hidden;
}

.container {
  max-width: 1215px;
  margin: 0 auto;
  padding: 0 20px;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.boldTxt {
  font-family: "Formular";
  line-height: 116%;
  color: #222222;
}
@media (max-width: 767px) {
  .boldTxt {
    font-size: calc(25px + 6 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .boldTxt {
    font-size: calc(25px + 6 * (100vw - 320px) / 1200);
  }
}
.boldTxt._blue {
  color: #0656b4;
}

.mediumTxtOS {
  line-height: 188%;
}
@media (max-width: 767px) {
  .mediumTxtOS {
    font-size: calc(13px + 3 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .mediumTxtOS {
    font-size: calc(13px + 3 * (100vw - 320px) / 1200);
  }
}

.smallTxtOS {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 192%;
}

.boldTxtFormular {
  font-family: "Formular";
  line-height: 133%;
  color: #222222;
}
@media (max-width: 767px) {
  .boldTxtFormular {
    font-size: calc(15px + 3 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .boldTxtFormular {
    font-size: calc(15px + 3 * (100vw - 320px) / 1200);
  }
}

.mediumTxtFormular {
  font-family: "Formular";
  line-height: 133%;
  color: #222222;
}
@media (max-width: 767px) {
  .mediumTxtFormular {
    font-size: calc(12px + 3 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .mediumTxtFormular {
    font-size: calc(12px + 3 * (100vw - 320px) / 1200);
  }
}

.btn {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: #0656b4;
  border-radius: 5px;
  font-family: "Formular";
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
.btn.whiteBlue {
  background: #dfe9f5;
  color: #0656b4;
}
.btn.noneColor {
  background: none;
  color: #222222;
  border: 1px solid #d8d8d8;
}
.btn:active {
  background: #dfe9f5;
  color: #0656b4;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 54px;
}
.icon.green {
  background: #e7f2ff;
}
.icon.red {
  background: rgba(255, 0, 0, 0.12);
}
.icon.grey {
  background: #f1f1f1;
}
.icon.border {
  border: 1px solid #a7a7a7;
}

@media (max-width: 768px) {
  .notMobile {
    display: none;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/Header/Header.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  background-color: white;
  padding: 25px 0 18px;
}

.header-navbar {
  padding: 0 50px;
  position: relative;
}
@media (max-width: 1000px) {
  .header-navbar {
    display: none;
  }
}

.header-navbar-conteiner {
  width: 100%;
  position: relative;
}
.header-navbar-conteiner:before {
  content: "";
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 20px;
  background: white;
  right: -5px;
  filter: blur(5px);
}

.header-navbar_list {
  display: flex;
}
.header-navbar_list.relative {
  position: relative;
  z-index: 100;
}
.header-navbar_list li {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #222222;
  margin-right: 50px;
}
.header-navbar_list li:last-child {
  margin-right: 0;
}
@media (max-width: 1000px) {
  .header-navbar_list {
    padding: 0 0px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition-duration: 0ms;
    font-size: 16px;
  }
  .header-navbar_list li {
    margin-bottom: 10px;
  }
}

.header-navbar_slide {
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #222222;
  width: auto !important;
  display: flex;
  justify-content: center;
  flex: 1 0 auto !important;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0 !important;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #222222;
  font-size: 18px !important;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
}

.header__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__item_type_input {
  flex: 1 1 60%;
}
@media (max-width: 1000px) {
  .header__item_type_input {
    display: none;
  }
}

.header__logo {
  margin-right: 20px;
}

.header__selected-city {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__city-box {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .header__city-box {
    display: none;
  }
}

.header__city-arrow {
  margin-right: 10px;
}

.header__city-name {
  font-size: 14px;
  line-height: 22px;
}

.header__input {
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  background: #f1f1f1;
  border-radius: 100px;
  padding: 0 20px;
}
.header__input input {
  margin-right: 15px;
  padding: 15px 0;
  width: 100%;
  background: #f1f1f1;
  border-radius: 100px;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: #767676;
}

.header__btn.btn {
  display: none;
  width: 20px;
  height: 20px;
}
.header__btn.btn.header__btn_visable {
  display: flex;
}

.header__profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #767676;
  margin-right: 15px;
}
@media (max-width: 1000px) {
  .header__profile-avatar {
    margin-right: 0;
  }
}

@media (max-width: 1000px) {
  .header__profile-name {
    display: none;
  }
}

.header__burger {
  position: relative;
  display: none;
  height: 20px;
}
.header__burger:before, .header__burger:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
.header__burger:before {
  top: 0;
}
.header__burger:after {
  bottom: 0;
}
.header__burger span {
  position: absolute;
  width: 30px;
  height: 2px;
  top: 9px;
  left: 0;
  background-color: #000000;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1000px) {
  .header__burger {
    display: block;
  }
}

.header__burger_active:before {
  transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
  top: 9px;
}
.header__burger_active:after {
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
  bottom: 9px;
}
.header__burger_active span {
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.header-logo {
  margin-right: 20px;
  margin-bottom: 4px;
}

.header-city {
  position: relative;
}

.header-city_choose {
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .header-city_choose {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
  }
}

.header-city_arrow {
  margin-right: 10px;
}
@media (max-width: 1000px) {
  .header-city_arrow {
    flex: 0 0 auto;
  }
}

.header-likes {
  margin-right: 40px;
  display: flex;
  align-items: center;
}
@media (max-width: 1000px) {
  .header-likes {
    margin-right: 20px;
  }
}

.header-likes_count {
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
}

.header-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .header-profile {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.header-profile_avatar {
  margin-right: 7px;
}
@media (max-width: 1000px) {
  .header-burger {
    display: block;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/components/Modals/Modal.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal {
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  z-index: 50;
  top: 60px;
  width: 380px;
  max-height: 300px;
  visibility: hidden;
  transform: translateY(20px);
  opacity: 0;
}

.modal_type_mobileMenu {
  padding: 10px;
  height: 100%;
  max-height: 100%;
  top: 0;
  right: 0;
}

.mobileMenu__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.mobileMenu__profile_avatar {
  height: 100px;
}
.mobileMenu__profile_avatar img {
  height: 100%;
}

.mobileMenu__city-box {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.modal_type_universitiesList {
  width: 100%;
}

.modal_isVisable {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.3s ease;
}

.modal__search {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  background: none;
  border-radius: 100px;
  border: 1px solid #dfe9f5;
}

.modal__list {
  display: flex;
  flex-direction: column;
  color: #222;
  font-size: 14px;
  line-height: 22px;
  padding: 14px 14px 0px;
  overflow-y: scroll;
  max-height: 250px;
}
.modal__list::-webkit-scrollbar {
  width: 7px;
  background-color: white;
}
.modal__list::-webkit-scrollbar-thumb {
  background-color: rgba(241, 241, 241, 0.5);
}

.modal__btn {
  display: block;
  width: 100%;
}
